<div class="row-fluid">
  <div class="offset1 span2">Título</div>
  <div class="span2">Autor</div>
  <div class="span2">Editorial</div>
  <div class="span2">Año</div>
  <div class="span2">¿Leído?</div>
</div>

<ul>
  <li class="books" ng-repeat="book in books">
    <div class="row-fluid">
      <a href="#/books/{{book.id}}">
        <span class="span2">{{book.title}}</span>
        <span class="span2">{{book.author}}</span>
        <span class="span2">{{book.editorial}}</span>
        <span class="span2">{{book.year}}</span>
        <span class="span2">{{book.readed_string}}</span>
      </a>
      <a href="" ng-click="deleteBook(book, $index)">x Borrar</a>
    </div>
  </li>
</ul>
<a href="#books/new">Nuevo libro</a>
